@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

:root {
    --secondary-color: rgb(47, 147, 103);
}

body {
    font-family: 'Rubik', sans-serif;
}

.navbar--gradient-green {
    background-image: -webkit-linear-gradient(
            left,
            rgba(75, 199, 162, 1) 0%,
            rgba(174, 221, 127, 1) 100%
    );
}

.navbar-brand__img {
    max-width: 160px;
}

.navbar-toggler--green {
    background-color: #78D192;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
}

.btn-red {
    background-color: rgb(231, 89, 111);
    color: white;
}

.nav-link--outline-white {
    border: 1px solid #ffffff;
    border-radius: 10px;
}

.content {
    padding: 1.3rem;
}

.entry__meta {
    font-size: 0.8rem;
}

.entry__author a {
    color: var(--secondary-color);
}

.entry_comments::before {
    content: "\2014";
    margin: 0 6px 0 2px;
}

.entry_comments a {
    color: var(--secondary-color);
}