@import url("https://fonts.googleapis.com/css2?family=Strait&display=swap");

:root {
  --font-family-NeueHaas: "Strait", Arial, sans-serif;
}

body {
  font-family: var(--font-family-NeueHaas);
}

.hero {
  background-image: url("http://127.0.0.1:5501/technologyreview.com.in-machines-we-trust/assets/graphics/8b3905ad-bg.gif");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-style: none;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
  border-radius: 0;
  width: 100%;
  height: 445px;
  position: relative;
}

.hero > div {
  background: rgba(0, 0, 0, 0.62);
}

.hero__title {
  line-height: 22px;
}

.hero__title-unit {
  font-family: "Cousine", monospace;
  font-style: normal;
  color: #000;
  background-color: #fff;
  margin-right: 20px;
  font-size: 40px;
  line-height: 55px;
  letter-spacing: 6px;
}

.hero__title-unit--black {
  color: #fff;
  background-color: #000;
}

.hero__subtitle {
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  color: #fff;
}

.subscription {
  background: rgba(0, 0, 0, 1);
}

.subscription p {
  letter-spacing: 2.25px;
}

.subscription__links {
  display: flex;
}

.subscription__links a {
  flex: 1 1 40px;
  opacity: 0.75;
}

.premiere {
  background: rgba(0, 0, 0, 1);
}

.premiere p {
  letter-spacing: 2.25px;
}

.Player {
  /* position: relative; */
  font-family: "pnply";
  font-size: 16px;
  width: 100%;
}

.Player__main {
  height: 200px;
  display: flex;
}

.Player__content {
  background-color: #232831;
  padding-top: 20px;
  flex-grow: 1;
  height: 100%;
  max-width: 100%;
  overflow: hidden;
  position: relative;
}

.Player__content__controls {
  padding: 0 20px;
  width: 100%;
}

.Player__play-btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #7474ec;
}

.Player__play-icon {
  width: 18px;
  height: 18px;
  margin: 11px;
  padding-left: 2px;
}

.Player__episode-info {
  margin-left: 20px;
}

.Player__podcast-title {
  height: 1.25em;
  font-size: 0.8em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #c3c3c3;
}

.Player__episode-title {
  height: 1.25em;
  width: 100%;
  margin: 3px 0 0 0;
  color: #ffffff;
  font-size: 1em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@media screen and (max-width: 410px) {
  .Player__episode-title {
    white-space: normal;
    height: 2.5em;
    font-size: 0.9em;
  }
}

.Player__episode-subtitle {
  margin-top: 3px;
  color: #c3c3c3;
  font-size: 0.75em;
  line-height: 1.2;
  font-weight: 400;
  overflow: hidden;
  text-overflow: ellipsis;
}

.Player__content__timer {
  padding: 0 20px;
}

.Player__timer {
  padding-top: 1em;
  font-size: 0.8em;
  color: #bababa;
}

.Player__content__scrub-bar {
  padding: 0 20px;
}

.Player__scrubber {
  width: 100%;
  height: 100%;
  position: relative;
}

.ScrubBar__primary {
  position: absolute;
  top: 0;
  /* width: 100%; I commented this because it causes conflicts with the svgs */
  height: 100%;
  overflow: hidden;
  z-index: 0;
}

.ScrubBar__primary--progress {
  transition: width 0.2s;
  z-index: 2;
}

.ScrubBar__primary--highlight {
  background: #232831;
  opacity: 0.4;
  z-index: 3;
}

.MenuBar__overlay-container {
  position: absolute;
  bottom: calc(26px - 12.5em);
  z-index: 4;
  width: 100%;
  height: 12.5em;
  padding: 0 20px;
  background: #191d23;
  transition: bottom 0.25s;
}

.MenuBar__overlay-container__menu-bar {
  font-size: 9px;
  line-height: 26px;
  color: #bababa;
  text-transform: uppercase;
}

.MenuBar__menubar-tab {
  display: none;
}

.MenuBar__icon {
  vertical-align: top;
  display: inline-block;
  font-family: "pnply-icons", "pnply";
  margin-right: 10px;
}

.MenuBar__overlay-container.is-up {
  position: absolute;
  bottom: 0;
}

.MenuBar__menubar-tab.is-visible {
  display: block;
}

.MenuBar__menubar-tab__title {
  height: 25px;
  margin-top: 25px;
  color: #fff;
  font-size: 16px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.MenuBar__menubar-tab__subtitle {
  min-height: 20px;
  max-height: 105px;
  overflow-y: auto;
  margin-bottom: 15px;
  color: #c3c3c3;
  font-size: 12px;
}

.MenuBar__btn {
  display: inline-block;
  margin-right: 0.75em;
}

.MenuBar__btn__icon {
  vertical-align: top;
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #f5f6f7;
  color: #515151;
  text-align: center;
  line-height: 30px;
  font-family: "pnply-icons";
  font-weight: 400;
  text-decoration: none;
}

.MenuBar__btn__icon.facebook {
  background-color: #3b5998;
  font-size: 24px;
  color: white;
  padding-top: 3px;
  font-size: 18px;
}

.MenuBar__btn__icon.twitter {
  background-color: #00aced;
  font-size: 20px;
  color: white;
  font-size: 18px;
}

.MenuBar__btn__icon.embed {
  padding-top: 3px;
}

.MenuBar__btn__icon.rss i {
  color: #ff6600;
  background-color: #ffffff;
}

.MenuBar__btn__icon.itunes i {
  color: purple;
  background-color: #ffffff;
}

.MenuBar__btn__icon.spotify i {
  color: green;
  background-color: #ffffff;
}

.MenuBar__btn__icon.stitcher i {
  color: blue;
  background-color: #ffffff;
}

.MenuBar__btn__icon.google i {
  color: yellow;
  background-color: #ffffff;
}

.MenuBar__btn__icon.iheart i {
  color: red;
  background-color: #ffffff;
}

.MenuBar__menubar-tab.cookie-policy a {
  color: inherit;
  text-decoration: underline;
}

.quote {
  font-weight: 400;
  font-size: 56px;
  line-height: 50px;
  color: rgb(0, 0, 0);
  background-color: #fff;
  display: inline-block;
}

.main-content {
  background-color: rgb(205, 230, 235);
}

.main-content .phrase-1 {
  font-weight: 600;
}

.main-content .phrase-2 {
  color: #e70f19;
}

.form-container {
  background: rgba(183, 213, 219, 1);
}

.form-container p {
  font-size: 15px;
  color: rgb(255, 255, 255);
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2.25px;
}

.form-container form p {
  font-size: 15px;
}

.notifications-p {
  font-size: 13px;
  line-height: 14px;
}

.notifications-p a {
  color: #d7182a;
  text-decoration: underline;
}

footer {
  background-color: rgba(0, 0, 0, 1);
}

footer p {
  line-height: 20px;
  font-size: 17px;
  color: rgb(255, 255, 255);
}

.Player__art {
  height: 100%;
  width: 200px;
}

.Art {
  width: 200px;
  height: 200px;
  background-color: #191d23;
  position: relative;
}

.Art_img {
  max-width: 100%;
  max-height: 100%;
}

@media (min-width: 576px) {
  .hero .content {
    width: 330px;
    margin: 0 auto;
  }

  .premiere > div.container {
    width: 330px;
  }

  .main-content > div.container {
    width: 330px;
  }

  footer > div.container {
    width: 330px;
  }
}

@media (min-width: 768px) {
  .hero .content {
    width: auto;
    margin: auto;
  }

  .hero .hero__title {
    margin-top: 8rem !important;
  }

  .hero .subscription {
    width: auto;
  }

  .premiere > div.container {
    width: 690px;
  }

  .main-content > div.container {
    width: auto;
  }

  .sponsor {
    line-height: 30px;
  }

  footer > div.container {
    width: 560px;
  }
}
