:root {
    --dotcom-green: #4CAF50;
    --accordion-green: var(--dotcom-green);
    --navbar-collapse-bg: #f1f1f1;
}

.w3schools-logo {
    font-family: fontawesome;
    text-decoration: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 37px;
    letter-spacing: 3px;
    color: #555555;
    display: block;
    position: relative;
}

.w3schools-logo__dotcom {
    color: var(--dotcom-green);
}

.bg-w3-green {
    background-color: var(--accordion-green);
}

.nav-link--black {
    color: black !important;
}

.navbar-collapse--white {
    background-color: var(--navbar-collapse-bg);
}

/* I wanted to do a modifier of this class, but it just appears for some milliseconds when a navbar is collapsing. */
/* For that reason, I just added the property that I wanted to change. The same happens with the next css rule. */
.collapsing {
    background-color: var(--navbar-collapse-bg);
}

.collapsing .nav-link {
    color: black;
}

.link-unstyled,
.link-unstyled:visited,
.link-unstyled:hover,
.link-unstyled:active,
.link-unstyled:focus,
.link-unstyled:active:hover {
    font-style: inherit;
    color: inherit;
    background-color: transparent;
    font-size: inherit;
    text-decoration: none;
    font-variant: inherit;
    font-weight: inherit;
    line-height: inherit;
    font-family: inherit;
    border-radius: inherit;
    border: inherit;
    outline: inherit;
    box-shadow: inherit;
    padding: inherit;
    vertical-align: inherit;
}

.navbar-btn {
    width: 45px;
}

.navbar-btn:hover {
    color: #000 !important;
    background-color: #fff !important;
}

.lang-selection {
    position: relative;
}

.lang-selection {
    z-index: 10;
    right: 110px;
    top: 10px;
}

.site-search {
    z-index: 10;
    right: 50px;
    top: 10px;
}