@tailwind base;

@tailwind components;

@tailwind utilities;

@layer base {
  .h1 {
    @apply text-3xl font-bold text-white mt-12 mb-4;
  }

  .h2 {
    @apply text-3xl font-bold mt-8 mb-2 text-gray-200 leading-9;
  }

  .underline-custom {
    text-decoration: none;
    color: #c9cacc;
    background-repeat: repeat-x;
    background-position: bottom;
    background-size: 100% 6px;
    background-image: linear-gradient(
      transparent,
      transparent 5px,
      #c9cacc 5px,
      #c9cacc
    );
  }

  .underline-custom:hover {
    background-image: linear-gradient(
      transparent,
      transparent 4px,
      white 4px,
      white
    );
  }

  code {
    @apply rounded-sm px-1 bg-blue-700;
  }

  blockquote {
    @apply text-lg text-gray-200 my-6 mx-2 text-center tracking-tighter leading-7 relative;
    word-spacing: -4px;
  }

  blockquote::before {
    @apply text-gray-200 text-4xl leading-3 mr-1 absolute;

    content: "\201C";
    vertical-align: -0.4em;
    left: -25px;
  }

  blockquote::after {
    @apply text-gray-200 text-4xl leading-3 mr-1 absolute;
    content: "\201C";
    vertical-align: -0.4em;
    bottom: -15px;
    right: -20px;
  }

  .Article p {
    @apply my-4;
  }

  .Article .Highlight {
    line-height: 0;
  }
  
  .Article .Highlight code {
    line-height: 1.15rem;
  }

  .Article pre {
    box-shadow: 3px 3px 10px 1px rgba(0,0,0,0.75);
  }

  .Article pre .hljs {
    @apply px-4 py-0;
  }
}
