@tailwind base;

@tailwind components;

@tailwind utilities;

@layer base {
  .h1 {
    @apply text-3xl font-bold text-white mt-12 mb-4;
  }

  .underline-custom {
    text-decoration: none;
    color: #c9cacc;
    background-repeat: repeat-x;
    background-position: bottom;
    background-size: 100% 6px;
    background-image: linear-gradient(
      transparent,
      transparent 5px,
      #c9cacc 5px,
      #c9cacc
    );
  }

  .hover-custom:hover {
    background-image: linear-gradient(
      transparent,
      transparent 4px,
      white 4px,
      white
    );
  }
}
