@media (min-width: 768px) {
  .title-partner,
  .contac-title {
    font-size: 1.8rem;
  }
}

@media (min-width: 1200px) {
  .title-partner,
  .contac-title {
    font-size: 2.3rem !important;
  }

  .contac-title {
    margin-top: 4rem !important;
  }
}