.Notice {
  background-color: #4C4184;
  color: white;
}

.Notice a {
  color: rgb(167, 230, 215);;
}

.Notice a:hover {
  color: rgb(167, 230, 215);;
}

.Notice p {
  text-align: justify;
  line-height: 33px;
  margin-bottom: 1.5rem;
}